{% load i18n %}

<p class="text-muted send-as">
    {% trans "This message will be sent as:" %}
    <a href="" class="send-as-default" title="{% trans 'Change sender' %}">
        {{ form.sender.value }}</a>
    {{ form.sender }}
    {% if postorius_installed %}
    {% comment %}
        Open a new window to Postorius. I know it's bad behavior
        but there's a big risk of a user loosing the message they
        are composing.
    {% endcomment %}
    <a href="{{ postorius_installed }}/users/address_activation/"
       target="_blank" class="send-as-add-address">
        {% trans "Link another address" %}
        <i class="fa fa-external-link" aria-hidden="true"></i></a>
    {% endif %}
</p>

